# Virtual environments
.venv/
env/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.log
